.page{
	position: fixed;
	@include fill();
	padding: 20px;
}

.page__inner,
%page__inner{
	position: relative;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.page__inner--welcome{
	@extend %page__inner;
	background-image: url('../images/optimized/welcome-bg.jpg');
}

